.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  max-height: 2.5rem;
  padding: var(--padding-s);
  background-color: var(--primary500);
  border-radius: 0.5rem;
  color: var(--white);
  font: var(--font-btn);
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--primary400);
}

.secondary-btn {
  background-color: var(--white);
  color: var(--primary500);
  border: var(--border-main);
}

.secondary-btn:hover {
  background-color: var(--white);
  border-color: var(--primary500);
}

.logout-btn {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url('../../assets/svg/exit.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.add-task-btn {
  width: 11rem;
  max-height: 4.75rem;
  height: 100%;
}

.add-task-btn:hover {
  background-color: var(--primary50);
}

.icon-btn {
  background: center no-repeat;
  cursor: pointer;
  transition: var(--transition);
}

.profile-btn {
  background-image: url('../../assets/svg/user.svg');
  width: 2.5rem;
  height: 2.5rem;
}

.filter-btn {
  background-image: url('../../assets/svg/filter.svg');
  width: 2.5rem;
  height: 2.5rem;
  display: none;
}

.filter-btn:hover {
  background-image: url('../../assets/svg/filter-primary500.svg');
}

.edit-btn {
  background: url('../../assets/svg/edit.svg') center no-repeat;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
}

.edit-btn:hover {
  background-image: url('../../assets/svg/edit-primary500.svg');
}

.delete-btn {
  background: url('../../assets/svg/delete.svg') center no-repeat;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
}

.delete-btn:hover {
  background-image: url('../../assets/svg/delete-red500.svg');
}

.close-btn {
  background: url('../../assets/svg/cancel.svg') center no-repeat;
  border: none;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
}

.close-btn:hover {
  background-image: url('../../assets/svg/cancel-primary500.svg');
}

.cancel-btn {
  color: var(--gray900);
  min-width: 6rem;
}

.save-btn {
  min-width: 6rem;
}

.avatar-btn-male {
  background-image: url('../../assets/svg/man.svg');
  background-size: 4rem 4rem;
  width: 4rem;
  height: 4rem;
}

.avatar-btn-male:hover {
  background-image: url('../../assets/svg/man-primary500.svg');
}

.avatar-btn-female {
  background-image: url('../../assets/svg/woman.svg');
  background-size: 4rem 4rem;
  width: 4rem;
  height: 4rem;
}

.avatar-btn-female:hover {
  background-image: url('../../assets/svg/woman-primary500.svg');
}

.load-more-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.add-comment-btn {
  width: 11rem;
  max-height: 3.125rem;
  height: 100%;
}

@media screen and (width <= 792px) {
  .add-task-btn {
    width: auto;
  }
}

@media screen and (width <= 744px) {
  .filter-btn {
    display: block;
  }

  .add-comment-btn span {
    display: none;
  }

  .add-comment-btn {
    background: url('../../assets/svg/add.svg') center no-repeat;
    width: 3.125rem;
  }
}

@media screen and (width <= 414px) {
  .add-task-btn {
    padding: var(--padding-s);
  }

  .add-task-btn span {
    display: none;
  }

  .to-main-btn {
    padding: var(--padding-s);
  }

  .to-main-btn span {
    display: none;
  }
}
