.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--primary500);
  border-radius: 8px;
  padding: 8px 16px;
  color: var(--white);
  font: var(--font-btn);
  cursor: pointer;
  transition: var(--transition);
  max-height: 40px;
}

.btn:hover {
  background-color: var(--primary400);
}

.secondary-btn {
  background-color: var(--white);
  color: var(--primary500);
  border: 1px solid var(--gray900);
}

.secondary-btn:hover {
  background-color: var(--white);
  border-color: var(--primary500);
}

.logout-btn {
  width: 40px;
  height: 40px;
  background-image: url('../../assets/svg/exit.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.add-task-btn {
  width: 175px;
  max-height: 76px;
  height: 100%;
}

.add-task-btn:hover {
  background-color: var(--primary50);
}

.icon-btn {
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: var(--transition);
}

.profile-btn {
  background-image: url('../../assets/svg/user.svg');
  width: 40px;
  height: 40px;
}

.filter-btn {
  background-image: url('../../assets/svg/filter.svg');
  width: 40px;
  height: 40px;
  display: none;
}

.filter-btn:hover {
  background-image: url('../../assets/svg/filter-primary500.svg');
}

.edit-btn {
  background-image: url('../../assets/svg/edit.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
}

.edit-btn:hover {
  background-image: url('../../assets/svg/edit-primary500.svg');
}

.delete-btn {
  background-image: url('../../assets/svg/delete.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
}

.delete-btn:hover {
  background-image: url('../../assets/svg/delete-red500.svg');
}

.close-btn {
  background-image: url('../../assets/svg/cancel.svg');
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
}

.close-btn:hover {
  background-image: url('../../assets/svg/cancel-primary500.svg');
}

.to-main-btn {
  /* width: 175px; */
}

.cancel-btn {
  color: var(--gray900);
  min-width: 96px;
}

.save-btn {
  min-width: 96px;
}

.avatar-btn-male {
  background-image: url('../../assets/svg/man.svg');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}

.avatar-btn-male:hover {
  background-image: url('../../assets/svg/man-primary500.svg');
}

.avatar-btn-female {
  background-image: url('../../assets/svg/woman.svg');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}

.avatar-btn-female:hover {
  background-image: url('../../assets/svg/woman-primary500.svg');
}

.load-more-btn {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (width <= 792px) {
  .add-task-btn {
    width: auto;
  }
}

@media screen and (width <= 744px) {
  .filter-btn {
    display: block;
  }
}

@media screen and (width <= 414px) {
  .add-task-btn {
    padding: 8px 8px;
  }

  .add-task-btn span {
    display: none;
  }

  .to-main-btn {
    padding: 8px 8px;
  }

  .to-main-btn span {
    display: none;
  }
}
