.filter-bar {
  display: flex;
  align-items: center;
  gap: var(--gap-l);
  padding: 0.375rem 1rem;
  border: var(--border-main);
  border-radius: var(--border-radius-s);
  background-color: var(--white);
}

.checkbox-dropdown {
  padding: 0.125rem 2rem 0.125rem 0.25rem;
  position: relative;
  cursor: pointer;
  transition: var(--transition);
}

.checkbox-dropdown:hover {
  color: var(--primary500);
}
.checkbox-dropdown:hover:after {
  border-top-color: var(--primary500);
}

.checkbox-dropdown:after {
  content: '';
  height: 0;
  position: absolute;
  width: 0;
  border: 0.375rem solid transparent;
  border-top-color: var(--black);
  top: 50%;
  right: 0.625rem;
  margin-top: -3px;
  transition: var(--transition);
}

@media screen and (width <= 1024px) {
  .filter-bar {
    gap: 0.25rem;
    padding: 0.375rem 0.5rem;
  }
}

@media screen and (width <= 744px) {
  .filter-bar {
    display: none;
  }
}
