.search-form {
  display: flex;
}

.search {
  width: 15rem;
  border: var(--border-main);
  border-radius: var(--border-radius-s);
  font: var(--font-body-large);
  padding: 0.25rem 1rem;
  transition: var(--transition);
}

.search:focus {
  outline: none;
  border-color: var(--primary500);
}

/* .search-btn {
  width: 2.5rem;
  height: 2.5rem;
  background: url('../../assets/svg/search.svg') center no-repeat;
  border: var(--border-main);
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: var(--border-radius-s);
  border-bottom-right-radius: var(--border-radius-s);
  background-color: var(--white);
  transition: var(--transition);
  cursor: pointer;
}

.search-btn:hover {
  background-image: url('../../assets/svg/search-primary500.svg');
}

.search:focus + .search-btn {
  border: var(--border-main);
  border-left: none;
} */

@media screen and (width <= 1024px) {
  .search {
    width: 8rem;
  }
}
