.task-card {
  border: 1px solid var(--gray900);
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* width: 100%; */
  background-color: var(--white);
  transition: var(--transition);
  cursor: pointer;
}

.task-card:hover {
  border-color: var(--primary500);
}

.task-header {
  display: grid;
  grid-template: 1fr 19px / 1fr 64px;
  gap: 8px;
}

.task-header h4 {
  max-height: 58px;
  overflow: hidden;
}

.task-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.task-description {
  color: var(--gray900);
  max-height: 136px;
  overflow: hidden;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.task-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.task-info,
.task-date-container {
  display: flex;
  gap: 8px;
}

.task-comments {
  display: flex;
  align-items: center;
  gap: 4px;
}

.task-assignee {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 92px;
}

.assignee-name {
  display: inline-block;
  max-width: 92px;
  max-height: 20px;
  font: var(--font-body-medium);
  color: var(--gray900);
  overflow: hidden;
}

.assignee-img {
  width: 48px;
  height: 48px;
}

.low {
  color: var(--green900);
}

.medium {
  color: var(--primary600);
}

.high {
  color: var(--red500);
}

@media screen and (width <= 1080px) {
  .task-card {
    gap: 1rem;
  }
  .task-footer {
    flex-direction: column-reverse;
    gap: 4px;
    align-items: flex-start;
    border-top: 1px solid var(--gray900);
    height: 52px;
  }

  .assignee-img {
    display: none;
  }

  .task-assignee {
    align-items: flex-start;
    width: 100%;
  }

  .assignee-name {
    max-width: 100%;
  }

  .task-info-container {
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    height: 24px;
    width: 100%;
  }

  .task-info {
    align-items: center;
  }

  .task-comments {
    display: none;
  }

  .task-time,
  .task-date,
  .task-status,
  .task-privacy,
  .task-comment-number {
    font: var(--font-small);
  }
}

@media screen and (width <= 834px) {
  .task-buttons {
    gap: 4px;
  }

  .task-footer {
    display: none;
  }

  .task-header {
    display: flex;
    flex-direction: column;
  }

  .task-buttons {
    display: none;
  }
}

@media screen and (width <= 520px) {
  .task-header {
    display: grid;
  }

  .task-buttons {
    display: flex;
  }

  .task-footer {
    display: flex;
  }

  .task-comments {
    display: flex;
  }
}
