.text-input {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.text-input .label {
  width: 100%;
  position: absolute;
  top: 24px;
  left: 16px;
  font: var(--font-body-large);
  transform-origin: 0 0;
  transform: translate3d(0, 0, 0);
  transition: var(--transition);
  pointer-events: none;
}

.text-input .focus-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
}

.text-input input {
  appearance: none;
  width: 100%;
  border: 0;
  font: var(--font-body-large);
  padding: 8px 48px 0 16px;
  height: 56px;
  background: rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
  transition: var(--transition);
}

.text-input input:hover {
  background: rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.text-input input:not(:placeholder-shown) + .label {
  color: rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -20px, 0) scale(0.75);
}

.text-input input:focus {
  background: rgba(0, 0, 0, 0.05);
  outline: none;
  box-shadow: inset 0 -2px 0 var(--primary500);
}

.text-input input:focus + .label {
  color: var(--primary500);
  transform: translate3d(0, -20px, 0) scale(0.75);
}

.text-input input:focus + .label + .focus-bg {
  transform: scaleX(1);
  transition: var(--transition);
}

.text-input input:disabled + .label {
  color: var(--gray900);
}
