.error-section {
  display: flex;
  flex: 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-l);
}

.error-header {
  font-size: 2rem;
}

.error-text {
  color: var(--gray900);
}

.game-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
}

#area {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-template-rows: 6rem 6rem 6rem;
  gap: 0.25rem;
}

.field {
  display: grid;
  place-items: center;
  border-radius: var(--border-radius);
  font-size: 5rem;
  color: var(--white);
  background-color: var(--primary400);
}

.x {
  background-color: var(--green900);
}

.o {
  background-color: var(--red500);
}

.o-win {
  background-color: var(--black);
}

.x-win {
  background-color: var(--black);
}

.tie {
  background-color: var(--black);
}

.field:hover {
  cursor: pointer;
}

.results {
  display: none;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(205, 133, 63, 0.8);
  padding: var(--padding);
  flex-direction: column;
  gap: var(--gap-l);
  align-items: center;
  border-radius: var(--border-radius);
  color: var(--white);
  font-size: 4rem;
  transition: var(--transition);
}

.score {
  font-size: 2rem;
}
