.main {
  display: flex;
  flex-direction: column;
}

.board {
  /* border: 1px solid red; */
  flex: auto;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  /* height: 100%; */
  /* max-height: 710px; */
  height: calc(100vh - 230px);
}

.column {
  width: 30%;
  background-color: var(--black-02);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 32px;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  display: block;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  /* height: 90%; */
}
::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 16px;
}
::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 54px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray900);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
