.user-container {
  display: flex;
  flex: 1 auto;
  justify-content: space-evenly;
  align-items: center;
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  width: 100%;
}

.avatar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.avatar {
  width: 4rem;
  height: 4rem;
  padding: 0.125rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 50%;
}

.avatar:hover,
.avatar.active {
  background-color: var(--primary500);
}

.avatar-img {
  height: 3.75rem;
  width: 3.75rem;
}

.input-file-label {
  width: 4rem;
  height: 4rem;
  background: url('../../assets/svg/add-circle.svg') center no-repeat;
  cursor: pointer;
  transition: var(--transition);
}

.input-file-label.active {
  background-image: url('../../assets/svg/add-circle-primary500.svg');
}

.input-file-label:hover {
  background-image: url('../../assets/svg/add-circle-primary500.svg');
}

.avatar-container input[type='file'] {
  display: none;
}

.profile-cover {
  height: calc(100vh - 200px);
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
  background-color: var(--white);
  border: var(--border-main);
  border-radius: var(--border-radius);
  padding: var(--padding);
  width: 40%;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-form-btns {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: var(--gap-l);
}

@media screen and (width <= 1044px) {
  .profile-cover {
    display: none;
  }

  .profile-info {
    width: 90%;
  }
}

@media screen and (width <= 414px) {
  .profile-info {
    padding: var(--padding-s);
    gap: var(--gap);
  }

  .user-form {
    gap: var(--gap-s);
  }
}
