* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* min-height: 100%; */
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* overflow-y: hidden; */
}

.header {
  /* border: 1px solid red; */
}

.main {
  flex: 1 1 auto;
}

.footer {
  border-top: 1px solid var(--gray900);
}

.overlay {
  display: none;
}

.overlay.active {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 1;
  background-color: var(--black-02);
}

.hidden {
  display: none !important;
}

::-webkit-scrollbar {
  width: 8px;
  display: block;
  transition: var(--transition);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--gray900);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary500);
}
