.board {
  flex: auto;
  padding: 0.5rem 1.25rem;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 230px);
}

.column {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  background-color: var(--white-04);
  border: var(--border-main);
  border-radius: var(--border-radius);
  padding: 0 2rem 1rem 2rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.column h3 {
  display: block;
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  background-color: var(--primary50);
  border: var(--border-main);
  border-radius: var(--border-radius-s);
  font: var(--font-title);
  position: sticky;
  top: 0;
}

.task-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--border-radius-s);
}

.column::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 1rem;
}

.column::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 54px;
}

@media screen and (width <= 1280px) {
  .column {
    padding: 0 0.5rem;
  }
}

@media screen and (width <= 520px) {
  .board {
    margin-top: 73px;
    flex-direction: column;
    height: auto;
    gap: var(--gap);
  }

  .column {
    width: 100%;
    max-height: 90vh;
  }
}
