.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 20px;
}

.footer-info {
  display: grid;
  grid-template: auto auto / auto auto;
  gap: 4px;
  font: var(--font-small);
}

.select-lang {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: var(--transition);
}

.select-lang label {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../../assets/svg/language.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.select-lang select {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  user-select: none;
  background-color: transparent;
}

@media screen and (width <= 414px) {
  .footer {
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 1rem 0.5rem;
  }

  .footer-info span {
    display: flex;
    justify-content: center;
  }
}
