.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.25rem;
  background-color: var(--white-04);
}

.footer-info {
  display: grid;
  grid-template: auto auto / auto auto;
  gap: var(--gap-xs);
  font: var(--font-small);
}

.select-lang {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
  transition: var(--transition);
}

.select-lang label {
  width: 1.5rem;
  height: 1.5rem;
  background: url('../../assets/svg/language.svg') center no-repeat;
  cursor: pointer;
}

.select-lang select {
  font: var(--font-body-large);
  user-select: none;
  background-color: transparent;
}

@media screen and (width <= 414px) {
  .footer {
    flex-direction: column-reverse;
    gap: var(--gap);
    padding: 1rem 0.5rem;
  }

  .footer-info span {
    display: flex;
    justify-content: center;
  }
}
