.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: var(--white-09);
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}
