.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  background-color: var(--white-09);
  border-bottom: 1px solid var(--gray900);
}

.header a {
  height: 40px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 32px;
}

@media screen and (width <= 744px) {
  .logo-img {
    width: 179px;
    height: 24px;
  }

  .nav {
    gap: 8px;
  }
}

@media screen and (width <= 520px) {
  .header {
    flex-direction: column;
    gap: 8px;
  }

  .logo-img {
    width: 298px;
    height: 40px;
  }
}

@media screen and (width <= 360px) {
  .header {
    padding: 16px 8px;
  }
}
