.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;
  border-top: 1px solid var(--gray900);
  border-bottom: 1px solid var(--gray900);
  background-color: var(--white-04);
}

.filter-container {
  display: flex;
  gap: 1rem;
}

.menu nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
}

.add-task-btn {
  gap: 8px;
  width: 175px;
  height: 76px;
}
