.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.25rem;
  border-bottom: var(--border-main);
  background-color: var(--white-04);
}

.filter-container {
  display: flex;
  gap: var(--gap);
}

.menu nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-s);
}

.table-sticky-menu {
  background-color: var(--white);
  position: sticky;
  top: 73px;
  z-index: 1;
}

@media screen and (width <= 520px) {
  .menu {
    background-color: var(--white);
    position: sticky;
    top: 73px;
    z-index: 1;
    justify-content: center;
    gap: var(--gap);
    padding: var(--spacing-s);
  }
}
