.table {
  flex: auto;
  padding: 0.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin-top: 73px;
}

.table-header-container {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: var(--border-radius);
  border: var(--border-main);
}

.table-row {
  display: flex;
  width: 100%;
  font-size: 1.125rem;
}

.table-row-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.75rem;
  border-right: var(--border-main);
}

.table-row-item:last-child {
  border-right: none;
}

.table-header-item-title {
  width: 20%;
}

.table-header-item-description {
  width: 30%;
}

.table-header-item-date,
.table-header-item-assignee,
.table-header-item-privacy,
.table-header-item-priority {
  width: 9%;
}

.table-header-item-status {
  width: 14%;
}

.row {
  width: 100%;
  max-height: 15rem;
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
  background-color: var(--white-04);
  border: var(--border-main);
  border-radius: var(--border-radius);
  padding: var(--spacing-s);
  overflow-y: auto;
  overflow-x: hidden;
}

.row h3 {
  font-size: 1.125rem;
  font-weight: 400;
}

.row::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 1rem;
}

.row::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 3.375rem;
}

@media screen and (width <= 1120px) {
  .table-row {
    font: var(--font-body-medium);
  }
}
